.chat-page {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    height: 100vh;
    padding: 2rem;
    background-color: #f1f1f1;
}

.right-chat-panel {
    height: 100vh;
    width: 30%;
    padding: 4rem 0 4rem 4rem;
    border-right: 1px solid black;
    overflow: scroll;
    display: flex;
    flex-direction: column;
}

.left-chat-panel {
    height: 100vh;
    width: 70%;
    display: flex;
    flex-direction: column;
    padding: 0 0 0 4rem;
}

.chat-window {
    flex-grow: 1;
    overflow-y: auto;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
}

.chat-bubble {
    max-width: 70%;
    padding: 1rem;
    margin: .625rem;
    border-radius: 2rem;
    display: inline-block;
    font-size: 16px;
    word-wrap: break-word;
    border: 1px solid black;
    color: black;
    box-shadow: 0.3rem 0.3rem 0 0 black;
}

.msg-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: flex-end;
    padding: 2rem;
    margin: 0 0 1rem 0;
    background-color: white;
    border-radius: 10px;
}

.top {
    margin-bottom: 1rem;
    border-bottom: 1px solid black;
}